.child {
  display: flex;
  gap: 8px;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.child:hover {
  background-color: rgba(0, 0, 0, 4%);
}

.child::before {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  border-left: 2px solid #212121;
  border-bottom: 2px solid #212121;
  margin-right: 8px;
  transform: translate(50%, -50%);
}

.input {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
