*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
}

.page__root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
