.folder {
  background-color: #ffffff;
  border-radius: 8px;
  width: calc(100% - 56px);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  height: 56px;
  padding: 8px 24px;
}

.icon {
  color: #e2b65c;
}

.input {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
